# Soal latihan untuk persiapan Live Code 1

Kisi-kisi apa saja yang akan keluar:
- Load data pandas menggunakan pd.read_csv, pd.read_excel. Sebagai latihan, bisa gunakan data-data di repo [ini](https://github.com/fahmimnalfrzki/Dataset).
- Pembuatan dan penggunaan fungsi 
- Pandas Query/Filtering
- For loop dan conditional if yang diterapkan pada pandas
- Akses row dataframe pandas menggunakan loc/iloc
- Akses kolom dataframe pandas
- Penggunaan method di dataframe/series pandas terutama method agregat (rata-rata, min, max, count, std, dll)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.read_csv('https://raw.githubusercontent.com/danupurnomo/hacktiv8-exercises/main/P0W1D4PM%20-%20Pandas%20(Basic)/songs.csv')

,title,artist,top genre,year,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,country
0,Dance Monkey,Tones and I,australian pop,2019,1969-12-31,98.0,59.0,82.0,-6.0,15.0,51.0,209,69.0,9.0,100,world
1,ROXANNE,Arizona Zervas,pop rap,2019,1969-12-31,117.0,60.0,62.0,-6.0,46.0,46.0,164,5.0,15.0,99,world
2,Memories,Maroon 5,pop,2019,1969-12-31,91.0,32.0,76.0,-7.0,8.0,57.0,189,84.0,5.0,99,world
3,Circles,Post Malone,dfw rap,2019,1969-12-31,120.0,76.0,70.0,-3.0,9.0,55.0,215,19.0,4.0,99,world
4,All I Want for Christmas Is You,Mariah Carey,dance pop,1994,1969-12-31,150.0,63.0,34.0,-7.0,7.0,35.0,241,16.0,4.0,98,world
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Feelings,Lauv,pop,2019,1969-12-31,103.0,47.0,69.0,-7.0,10.0,25.0,190,9.0,4.0,73,malasya
996,Mimpi (feat. Alif),K-Clique,malaysian indie,2019,1969-12-31,150.0,73.0,83.0,-7.0,10.0,87.0,253,53.0,29.0,66,malasya
997,Cinta Luar Biasa,Andmesh,indonesian pop,2019,1969-12-31,136.0,23.0,58.0,-12.0,10.0,32.0,256,81.0,3.0,66,malasya
998,Haa Tepok,MeerFly,malaysian hip hop,2019,1969-12-31,87.0,50.0,85.0,-12.0,15.0,68.0,211,66.0,31.0,65,malasya
999,Hanya Rindu,Andmesh,indonesian pop,2019,1969-12-31,179.0,16.0,28.0,-12.0,11.0,20.0,252,89.0,3.0,65,malasya

In [4]:
import pandas as pd

data = pd.DataFrame({'sisi1':[5,8,2,5,7,15,6,20,56,1,42,7],'sisi2':[15,82,12,5,6,15,6,4,27,2,4,9]})
data

    sisi1  sisi2
0       5     15
1       8     82
2       2     12
3       5      5
4       7      6
5      15     15
6       6      6
7      20      4
8      56     27
9       1      2
10     42      4
11      7      9

1. Buatlah dua fungsi untuk menghitung luas persegi dan jajargenjang

In [5]:
def luaspersegi (panjang,lebar) :
  calc=panjang*lebar
  print(f'Luas Persegi sebesar {calc}')

In [6]:
luaspersegi(5,15)

Luas Persegi sebesar 75

In [7]:
def luasjajargenjang (alas,tinggi) :
  calc=alas*tinggi
  print(f'Luas Jajar Genjang sebesar {calc}')

In [8]:
luasjajargenjang(5,15)

Luas Jajar Genjang sebesar 75

2. Dengan data berikut, buatlah kolom baru yang bernama `luas` yang menyimpan hasil perhitungan luas persegi dan jajargenjang, dimana untuk kolom sisi1 yang nilainya lebih dari 10 akan dihitung luas persegi, dan kurang dari 10 dihitung jajargenjang. **(Hint: Gunakan for loop dan if statement untuk mengerjakan nomor 2, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom luas)**.

In [11]:
data1=data
data1

    sisi1  sisi2
0       5     15
1       8     82
2       2     12
3       5      5
4       7      6
5      15     15
6       6      6
7      20      4
8      56     27
9       1      2
10     42      4
11      7      9

In [ ]:
# Siapkan List Kosong, sebagai tempat penampung
# Specify variable yang di butuhkan
# buat procedur = hasil
# hasilnya simpan ke list kosong
# lopp selesai, list penuh -> kolom baru

In [19]:
luas = []

for i in range(0, len(data1)) :
  calc = data1.loc[i,'sisi1']*data1.loc[i,'sisi2']
  luas.append(calc)

luas

[75, 656, 24, 25, 42, 225, 36, 80, 1512, 2, 168, 63]

In [20]:
data1['luas_tanpa_def'] = luas

In [21]:
data1

    sisi1  sisi2  luas_tanpa_def
0       5     15              75
1       8     82             656
2       2     12              24
3       5      5              25
4       7      6              42
5      15     15             225
6       6      6              36
7      20      4              80
8      56     27            1512
9       1      2               2
10     42      4             168
11      7      9              63

In [26]:
# coba input luas pakai def
def luas_def (sisi1) :
if sisi1 > 10
  print(f'Luas Persegi' = data1.loc[i,'sisi1']*data1.loc[i,'sisi2'])
  else
  print(f'Luas Jajaran genjang' = data1.loc[i,'sisi1']*data1.loc[i,'sisi2'])

IndentationError: ignored

LUAS = []

def luas_bentuk (sisi1,sisi2) :
  if sisi1 > 10 :
    calc1 = sisi1*sisi2
    print(f'Persegi dengan Luas {calc1}')
  else :
    calc2 = sisi1*sisi2
    print(f'JajarGenjang dengan Luas {calc2}')

3. Hitung standar deviasi (.std) kolom luas dimana `sisi 1` lebih dari 10 dan `sisi 2` ganjil